<h1>Listing scenes</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Year</th>
    <th>Imdb url</th>
    <th>Agency credit</th>
    <th>Artist credit</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @scenes.each do |scene| %>
  <tr>
    <td><%= scene.title %></td>
    <td><%= scene.year %></td>
    <td><%= scene.imdb_url %></td>
    <td><%= scene.agency_credit %></td>
    <td><%= scene.artist_credit %></td>
    <td><%= link_to 'Show', scene %></td>
    <td><%= link_to 'Edit', edit_scene_path(scene) %></td>
    <td><%= link_to 'Destroy', scene, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Scene', new_scene_path %>
